.mb-avatar .progress {
  background: #f9f8fb !important;
  margin-top: -10px;
  /* width: 50%; */
}

.mb-cover-photo .progress-cover {
  background: #f9f8fb !important;
  margin-top: -10px;
  /* width: 50%; */
}

.menu-links {
  padding-left: 0 !important;
}

.show {
  padding-left: 0 !important;
}

.image-url img {
  width: 100%;
  height: 250px;
}

.image-url {
  margin-bottom: 10px;
  /* transform: translateX(100px); */
}

.cover-url img {
  width: 220px;
  height: 200px;
}

.cover-url {
  margin-bottom: 10px;
  /* transform: translateX(100px); */
}

#file-name {
  color: blue;
}

.file-upload-button {
  background-color: #1ca9c5;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  color: white;
  cursor: pointer;
}

.file-upload-button:hover {
  background-color: #0DCAF0;
}

.file-upload-button:active {
  background-color: #56d6ec;
}

.progress-cover {
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.mb-cover-photo {
  margin-left: 20px;
}